@CHARSET "UTF-8";

$primary-color: #009182;
$primary-color-focus: #008182;
$secundary-color: #FFB63F;

a {
	cursor: pointer;
}

.hidden {
  display: none !important;
}

.bg-primary {
	background-color: $primary-color !important;
}

.color-primary {
	color: $primary-color !important;
}

.color-secundary {
	color: $secundary-color !important;
}

.btn-primary {
	background-color: $primary-color;
	border-color: $primary-color;
}

 .btn-primary:hover {
	background-color: $primary-color-focus;
	border-color: $primary-color-focus; 
 }
 
 .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
	background-color: $primary-color-focus;
	border-color: $primary-color-focus; 
 }
 
 .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
	box-shadow: 0 0 0 0.2rem $primary-color;
 }
 
 .btn-primary.focus, .btn-primary:focus{
	box-shadow: 0 0 0 0.2rem $primary-color;
 }

.bg-warning {
	background-color: #fff3cd !important;
}

.bd-warning {
	border-color: #a18535 !important;
}

nav i{
	font-size: 1.5em
}

nav .btn {
	padding: .25rem .25rem;
}

.btn-without-padding {
	padding: 0 !important;
}

.navbar {
	padding: .2rem 0rem;
}

.navbar-header {
	width: 100%;
}

@media (min-width: 768px){
	
	.container { 
		max-width: 95%;
	}
	
	.label-checkbox-12 {
		padding-top: 0.3rem;
	}
	
	.label-checkbox-1,.label-checkbox-2,.label-checkbox-3,.label-checkbox-4,.label-checkbox-5,
	.label-checkbox-6,.label-checkbox-7,.label-checkbox-8,.label-checkbox-9,.label-checkbox-10
	.label-checkbox-11 {
		padding-top: 0.9rem;
	}
}

@media (max-width: 767px) {
	.label-checkbox {
		padding-top: 0.2rem;
	}
}

.input-checkbox {
	background-color: transparent;
	border: 0;
}

.form-checkbox {
	border: 0;
    padding-left: 0.1rem;
}

/** FADE IN **/

.container-fadeIn {
  display: flex;
  align-items: center;
  flex-direction: column; 
  width: 100%;
  min-height: 100%;
  padding: 20px;
  margin-top: 8%;
}

.form-fadeIn {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  max-width: 650px;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
  border: 1px solid $primary-color;
}

.form-fadeIn-content{
	padding: 10px 20px 10px 20px;
}	

.form-fadeIn-footer {
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
}

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

@media (max-width: 767px){
	
	.container-fadeIn {
		margin-top: 0%;
	}
	
}

.form-fadeIn-img {
	width: 100%;
	max-width: 150px
}
	
.form-fadeIn-img-error {
	width: 100%;
	max-width: 300px
}

form[id="Module_login"] input {
	text-align: center;
}

input[type="submit"] {
	text-align: center;
}